#playerName {
  color: #1f164e; /* Dark background color */
  font-family: 'Agbalumo', sans-serif; /* Use the same font family as the body */
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0; /* Remove default margin */
}
